#datboi-backdrop {
    background-color: #797979;
    background-image: url(dat_boi-boi.gif);
    background-repeat: repeat;
    background-size: 100% 100%;
}
#craze {
    font-size: 6em;
    animation-name: flashing;
    animation-duration: .2s;
    animation-iteration-count: infinite;
}
@keyframes flashing {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}